@import url(../css/header.css);
@import url(../css/colors.css);
@import url(../css/fonts.css);
@import url(../css/footer.css);
@import url(../css/scroll.css);

*, html{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilo div principal */
main{
    margin: 100px auto 30px;
}

/* Estilos div secundario */
#cita{
    width: 80%;
    max-width: 900px;
    margin: 0 auto 40px;
    background-color: var(--color5);
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
}


/* EStilos formulario */

.campos{
    display: flex;
    gap: 20px;
}

fieldset {
    border: none;
    padding: 2rem 0 0 0;
    min-width: 100px;
}

label, select{
    width: 100%;
    display: block;
    margin: 20px 0;
    cursor: pointer;
}

input, textarea {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
    outline: none;
    border-radius: 5px;
    border: none;
    padding: 1px 0px 1px 4px;
    padding: 5px;
}

.campos h1 {
    margin: 0.3em auto;
    text-align: center;
    font-weight: 100;
    font-family: play;
}

#button{
    display: none;
}

#labelS{
    margin: 10px auto 0;
    color: #fff;
    padding: 5px;
    width: 150px;
    text-align: center;
    height: 30px;
    background-color: var(--color2);
}
