@import url(../css/header.css);
@import url(../css/colors.css);
@import url(../css/fonts.css);
@import url(../css/footer.css);
@import url(../css/scroll.css);

*, html{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/*ESTILOS HEADER*/

header{
    height: 75px;
    width: 100%;
    background-color: var(--color5);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logo{
    width: 250px;
    padding-right: 100px;
    position: absolute;
    margin-top: 90px;
    left: 30px;
    top: -85px;
    z-index: 1;
}

.userIcon{
    width: 40px;
    height: 40px;
    margin-left: 15px;
}

#doctorInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#doctorInfo h4{
    color: #fff;
}


/* ESTILOS CONTENIDO */
main{   
    width: 80%;
    margin: 20px auto 30px;
    padding: 10px;
    position: relative;
    left: 50px;
}

.citas, .history{
    padding: 20px 10px;
    width: auto;
    height: 700px;
    background-color: var(--color6);
    border-radius: 10px 8px;
    cursor: pointer;
    overflow: hidden;
}

.cites{
    height: 100%;
    width: 1300px;
    margin: 0 auto;
}

.cities{
    height: 100%;
    width: 1188px;
    margin: 0 auto;
}

.history{
    top: 0;
}

.tableCita{
    text-align: center;
    line-height: 30px;
    width: 100%;
}

.tableCita td{
    border: 2px solid black;
    width: 115px;
    max-width: 116px;
    border-left: 2px solid black;
    padding: 0 10px;
}

.tableCita input{
    width: 90px;
}

.tableCita input[type="submit"]{
    padding: 5px;
    border: none;
    color: #fff;
    background-color: red;
    border-radius: 5px;
    font-weight: 800;
    width: 70px;
    margin: 5px 0;
}

.title{
    margin: 0 0 20px 0;
    text-align: center;
}


.closeMenu{
   position: relative;
}

.openMenu{
    position: absolute;
    z-index: 3;
}

input{
    width: 100%;
}

a.Del{
    text-decoration: none;
    padding: 5px;
    background-color: var(--color2);
    color: black;
    border-radius: 8px 5px;
}


.msg{
    text-align: center;
    color: red;
    margin: 10px auto;
}

.container2{
    height: 100%;
    width: 100%;
    padding: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.table{
    width: 100%;
}

.table ul{
    width: 100%;
    display: flex;
}

.table ul>li{
    height: 30px;
    max-width: 116px;
    min-width: 116px;
    background-color: var(--color2);
    text-align: center;
    display: inline-block;
    margin-left: 1px;
    padding: 5px 0;
    border: 2px solid black;
}



/* ESTILOS INPUT SEARCH */

#Search{
    width: 30%;
    position: relative;
    left: 5%;
    border: 1px solid black;
    height: 30px;
    border-radius: 8px 5px;
}
