@import url(../css/header.css);
@import url(../css/colors.css);
@import url(../css/fonts.css);
@import url(../css/footer.css);
@import url(../css/scroll.css);

*, html{

    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/*ESTILOS HEADER*/

header{
    height: 75px;
    width: 100%;
    background-color: var(--color5);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logo{
    width: 250px;
    padding-right: 100px;
    position: absolute;
    margin-top: 90px;
    left: 30px;
    top: -85px;
    z-index: 1;
}

.userIcon{
    width: 40px;
    height: 40px;
    margin-left: 15px;
}

#doctorInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#doctorInfo h4{
    color: #fff;
}


/* ESTILOS CONTENIDO */
main{   
    width: 80%;
    margin: 50px auto 30px;
    padding: 10px;
    position: relative;
    left: 50px;
}

.citas, .history{
    padding: 20px 10px;
    width: auto;
    height: 700px;
    background-color: var(--color6);
    border-radius: 10px 8px;
    cursor: pointer;
}

.citas{
    overflow-x: hidden;
    overflow-y: scroll;
}

.history{
    top: 0;
}

.tableCita{
    line-height: 50px;
    width: 100%;
}
.tableCita tr:nth-child(1){
    background-color: var(--color2);
}

.tableCita tr:nth-child(1) td{
    border-top: 2px solid black;
    font-weight: 600;
}

.tableCita td{
    border-bottom: 2px solid black;
    max-width: 130px;
    border-left: 2px solid black;
    padding: 0 10px;
}

.tableCita td:nth-child(10){
    border-right: 2px solid black;;
}

.title{
    margin: 0 0 20px 0;
    text-align: center;
}


.closeMenu{
   position: relative;
}

.openMenu{
    position: absolute;
    z-index: 3;
}




