@font-face {
    font-family: smile;
    src: url(../fonts/Purple\ Smile.otf);

}

@font-face {
    font-family: fied;
    src: url(../fonts/Spotyfied\ Me.ttf);

}

@font-face {
    font-family: play;
    src: url(../fonts/PlayoutDemoRegular.ttf);

}

@font-face {
    font-family: pulang;
    src: url(../fonts/Pulang.otf);

}
