@import url(../css/header.css);
@import url(../css/colors.css);
@import url(../css/fonts.css);
@import url(../css/footer.css);
@import url(../css/scroll.css);

*, html{

    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/*ESTILOS IMAGEN*/

header{
    padding: 80px 15px;
    position: relative;
    top: -75px;
    display: flex;
    width: 100%;
    height: 700px;
    justify-content: flex-start;
    align-items: center;
    color: black;
}

.animalImg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.frase{
    margin: 50px 0 0 100px;
}

.name{
    font-size: 90px;
    font-weight: 400;
    font-family: play; 
    color: var(--color3);
    letter-spacing: -4px;
    line-height: 90px;
   
}

.little{
    font-family: pulang;
    font-size: 20px;
    color: black;
    margin-left: 15px;
}

#dot{
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    left: -27px;
    top: 5px;
}

/*ESTILOS INFORMACION*/

main{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.mainSection{
    width: 100%;
    height: auto;
}

.art{
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 30px;
    margin: 0 0 30px 0;
}

.mainSection h2{
    font-family: pulang;
    color: #0059b8;
    font-size: 35px;
}

.container{
    max-width: 350px;
    height: auto;
}

.animal{
    width: 100%;
    height: auto;
}

.cont{
   display: flex;
   align-items: center;
}

.txt{
    font-size: 20px;
}

/*tarjetas*/
.wrap{
	width: 90%;
    max-width: 1100px;
    min-width: 300px;
	margin: 50px auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    flex-wrap: wrap;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
    text-align: center;
}

.little2{
    font-family: pulang;
    font-size: 30px;
    color: var(--color3);
    margin-right: 15px;
}

.tarjeta-wrap{
	margin: 10px;
}

.tarjeta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color3);
    font-family: pulang;
	width: 300px;
	height: 150px;
	background: #ffa929;
    border-radius: 10px;
}

.icon{
    width: 95px;
    margin-top: 5px;
}

#cita{
    width: 80%;
    max-width: 900px;
    margin: 0 auto 40px;
    background-color: var(--color5);
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
}

.campos{
    display: flex;
    gap: 20px;
}

fieldset {
    border: none;
    padding: 2rem 0 0 0;
    min-width: 100px;
}

label, select{
    width: 100%;
    display: block;
    margin: 20px 0;
    cursor: pointer;
}

input, textarea {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
    outline: none;
    border-radius: 5px;
    border: none;
    padding: 1px 0px 1px 4px;
    padding: 5px;
}

h1 {
    margin: 0.3em auto;
    text-align: center;
    font-weight: 100;
    font-family: play;
}

#button{
    display: none;
}

#labelS{
    margin: 10px auto 0;
    color: #fff;
    padding: 5px;
    width: 150px;
    text-align: center;
    height: 30px;
    background-color: var(--color2);
}
