@import url(../css/header.css);
@import url(../css/colors.css);

*, html{

    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/*fonts */

@font-face {
    font-family: smile;
    src: url(../fonts/Purple\ Smile.otf);

}

/*scrollbar*/
::-webkit-scrollbar{
    width: 5px;
    }
    
    ::-webkit-scrollbar-track{
    border: 5px solid #ffa929
    }
    
    ::-webkit-scrollbar-thumb{
    background: #0059b8
}




/*ESTILOS IMAGEN*/

header{
    padding: 80px 15px;
    position: relative;
    top: -75px;
    display: flex;
    width: 100%;
    height: 700px;
    justify-content: flex-start;
    align-items: center;
    color: black;
}

.animalImg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.frase{
    margin: 50px 0 0 100px;
}

.name{
    font-size: 70px;
    font-weight: 400;
    font-family: smile; 
    color: var(--color3);
   
}

.little{
    font-size: 20px;
    color: black;
    margin-left: 50px;
}

/*ESTILOS INFORMACION*/

main{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.mainSection{
    width: 100%;
    height: auto;
}

.art{
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 30px;
    margin: 0 0 30px 0;
}

.mainSection h2{
    font-family: smile;
    color: #0059b8;
    font-size: 24px;
}

.container{
    max-width: 350px;
    height: auto;
}

.animal{
    width: 100%;
    height: auto;
}

.cont{
   display: flex;
   align-items: center;
}

.txt{
    font-size: 20px;
}

/*tarjetas*/
.wrap{
	width: 90%;
    max-width: 1100px;
    min-width: 300px;
	margin: 50px auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    flex-wrap: wrap;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
    text-align: center;
}

.tarjeta-wrap{
	margin: 10px;
}

.tarjeta{
    display: flex;
    align-items: center;
	width: 300px;
	height: 150px;
	background: #ffa929;
    border-radius: 10px;
}

footer {
    width: 100%;
    background-color: #ffa929;
    color: #fff;
    }
    
    .top_header {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    }
    
    .top_header section {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}