@import url(../css/header.css);
@import url(../css/colors.css);
@import url(../css/fonts.css);
@import url(../css/footer.css);

*, html{

    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}


/*scrollbar*/
::-webkit-scrollbar{
    width: 5px;
    }
    
    ::-webkit-scrollbar-track{
    border: 5px solid var(--color1)
    }
    
    ::-webkit-scrollbar-thumb{
    background: var(--color3)
}
/*usuario*/


main{
    margin: 100px auto 30px;
    position: relative;
    left: -100px;
    display: flex;
    gap: 40px;
    justify-content: center;
}

.container{
  margin: 20px;
  display: table;
}

.left{
    float: left;
    width: 225px;
    height: 350px;
    margin-right: 30px;
}
.right{
    float: right;
    width: 200px;
    height: auto;
    padding: 10px 0 0 0;
  }
.fa{
    display: inline-block;
  }
.image{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid gray;
    display: inline-block;
    padding: 3px;
    border: 3px solid #d2d6de;
    margin-top: 20px;
    margin-right: 57px;
    margin-left: 57px;
  
}
.has-feedback .form-control {
    padding-right: 42.5px;
}
select[multiple], select[size] {
      height: auto;
}
.form-control {
      border-radius: 0;
      box-shadow: none;
      border-color: #d2d6de;
}
.form-control {
      display: block;
      width: 100%;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
}
label {
    cursor: default;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.usuername{
      font-size: 21px;
      margin-top: 5px;
}
.text-center {
      text-align: center;
}
.btn{
    margin: 0 auto;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    touch-action: manipulation;
    margin-top: 100px;
}
a {
      color: var(--color3);
}
a {
      color: var(--color3);
      text-decoration: none;
}
.btn {
      color: #fff;
      background-color: var(--color3);
      display: block;
      border-radius: 20px;
}
.usuername{
      font-family: pulang
}
  
.control-label{
    float: left;
}
.form-horizontal .form-group {
      margin-right: -15px;
      margin-left: -15px;
}
.form-group {
      margin-bottom: 15px;
}
  
.has-feedback {
      position: relative;
}
.form-group {
      margin-bottom: 15px;
}
.left.box-primary {
      border-top-color: var(--color3);
      
}
.left {
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}

.add{
    font-size: 13px;
    color: red;
}

.si{
    display: none;
}

.preview{
    display: block;
}

.msg{
    color: red;
    margin: 20px auto;
}

.petImg{
    width: 100px;
    height: 100px;
}

.info{
    display: flex;
    gap: 15px;
    align-items: center;
    width: auto;
    height: auto;
    color: #fff;
    padding: 10px;
    background-color: var(--color4);
    border-radius: 8px 5px;
}

/* .info tfoot{
    display: flex;
} */

.tittle{
    font-weight: 600;
}

.space{
    padding: 0 10px;
}

.warning{
    text-decoration: none;
    color: red;
    font-size: 15px;
    padding: 5px;
}

  